:root{
   --mint: #3EB489;
   --grey: #7f7f7f;
}

* { 
   padding: 0;
   margin: 0;
}

:focus { outline: none; }

html {
   max-width: 100%;
   scroll-behavior: smooth;
   margin: auto;
}

.container {
   max-width: 90%;
   margin: 0 auto;
   color: var(--mint);
}

.container:hover{
   color: black;
   transition: all 0.3s ease;
   cursor: pointer;
}

.container .keyboard-down-img{
   opacity:0; /*Элемент полностью прозрачный (невидимый)*/
   transition: 0.5s; /*Скорость перехода состояния элемента*/
}

.container:hover .keyboard-down-img{
   opacity:1;
   transition: 0.5s;
}

.header-title {
   height: 9.75em;
   width: 95%;
   margin-left: auto;
   border-bottom: 0.0625em solid var(--grey)
}

.title {
   font-family: 'Inika';
   font-style: normal;
   font-weight: 700;
   font-size: 3.75em;
   line-height: 2.8em;
   color: black;
}

.memes  {
   width: 95%;
   height: 5.125em;
   margin-left: auto;
   border-bottom: 0.0625em solid var(--grey);
}

.memes:active {
   color: var(--mint);
   transform: translate(1em, 0.75em);
}

.no-line-memes {
   border-bottom: 0em solid var(--grey);
}

.memes-title {
   font-family: 'Inika';
   font-style: normal;
   font-weight: 700;
   font-size: 2.7em;
   line-height: 1.6em;
}

.content {
   display: flex;
}

.content img {
   margin-left: auto;
   width: 5%;
   
}

.memes-img {
   visibility: hidden;
   opacity: 0; /*Элемент полностью прозрачный (невидимый)*/
   padding-left: 30%;
}

.memes-img  img{
   width: 31.25em;
   height: 29.375em;
}

.memes:hover,  .memes:focus-within{ 
   height: 36.6em;
   transition: all 0.5s ease;
}



.memes:hover .keyboard-down-img, .memes:focus-within .keyboard-down-img{
   transform:rotate(180deg);
}

.memes:hover .memes-img{
   visibility: visible;
   opacity: 1;
   transition: opacity 1.3s, visibility 1s;
}

.memes:focus-within .memes-img{
   visibility: visible;
   opacity: 1;
}

@media (max-width: 820px) {
   .header-title {
      height: 5.8em;
      width: 95%;
      margin-left: auto;
      border-bottom: 0.0625em solid var(--grey)
   }
   
   .title {
      font-family: 'Inika';
      font-style: normal;
      font-weight: 700;
      font-size: 2.1875em;
      line-height: 3em;
      color: black;
   }
   
   .memes {
      width: 95%;
      height: 2.8em;
      margin-left: auto;
      border-bottom: 0.0625em solid var(--grey)
   }
   
   .memes-title {
      font-family: 'Inika';
      font-style: normal;
      font-weight: 700;
      font-size: 1.5625em;
      line-height: 1.7em;
   }
   
   .content img {
      margin-left: auto;
      width: 5%;
      
   }
   
   .memes-img  img{
      width: 25em;
      height: 23.125em;
   }
   
   .memes:hover,  .memes:focus-within{ 
      height: 27.3em;
   }

   .memes:hover .memes-img, .memes:focus-within .memes-img{
      display: block;
      padding-left: 20%;
   }

   .no-line-memes {
      border-bottom: 0em solid var(--grey);
   }
}

@media (max-width: 380px) {
   .header-title {
      height: 3.75em;
      width: 95%;
      margin-left: auto;
      border-bottom: 0.0625em solid var(--grey)
   }
   
   .title {
      font-family: 'Inika';
      font-style: normal;
      font-weight: 700;
      font-size: 1.5625em;
      line-height: 3.01em;
      color: black;
   }
   
   .memes {
      width: 95%;
      height: 2em;
      margin-left: auto;
      border-bottom: 0.0625em solid var(--grey)
   }
   
   .memes-title {
      font-family: 'Inika';
      font-style: normal;
      font-weight: 700;
      font-size: 0.9375em;
      line-height: 2em;
   }
   
   .content img {
      margin-left: auto;
      width: 5%;
      
   }
   
   .memes-img  img{
      width: 12.5em;
      height: 10.625em;
   }
   
   .memes:hover,  .memes:focus-within{ 
      height: 13.6em;
   }

   .memes:hover .memes-img, .memes:focus-within .memes-img{
      display: block;
      padding-left: 13%;
   }

   .no-line-memes {
      border-bottom: 0em solid var(--grey);
   }
}
